<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="layout.css">
</head>
<body>
    <header class="header">
        <h1>My website</h1>
        <h3>with a <b>flexible</b> layout</h3>
    </header>
    <nav class="nav">
        <a href="#link">link</a>
        <a href="#link">link</a>
        <a href="#link">link</a>
        <a href="#link">link</a>

    </nav>
    <div class="section">
        <div class="main">
            <h1>About me</h1>
            <h4>photo of me</h4>
            <h5 class="image">Image</h5>
            <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
            <h2>more text</h2>
            <p>Lorem ipsum dolor sit ame.</p>
            <div class="image1">Image</div>
            <div class="image2">Image</div>
            <div class="image3">Image</div>
        </div>
        <div class="side">
            <h1>Title Heading</h1>
            <h4>Title description,21st may 2023</h4>
            <h5 class="img">Image</h5>
            <p>Some text..</p>
    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, 
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
         Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
         <h1>Title Heading</h1>
         <h4>Title description, Sep 2, 2017</h4>
         <div class="img1">Image</div>
         <p>Some text..</p>
    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, 
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
        </div>

    </div>
    <div class="footer">
        <h1><b>Footer</b></h1>
    </div>
    
</body>
</html>